*{padding: 0;
    margin: 0;
   border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}

:focus, :active{outline: none;}

a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

/*************************************************ОБНУЛЕНИЕ СТИЛЕЙ***************************************************/
body{
    min-width: 320px;
    max-width: 1300px;
    margin: 0 auto;
    font-family:OpenSans,sans-serif ;
}

a{
    text-decoration: none;
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 85px;
    background-color: #ffffff;
    max-width: 1200px;
    margin: auto;
}
.header_logo img{
    width: 211px;
    height: 36px;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list a{
    font-size: 13px;
    font-family: "Myriad Pro";
    color: rgba(102, 102, 102, 0.671);
    text-align: center;
}

.list a:hover{
    border-bottom: 2px solid rgb(173, 209, 54);
    padding-bottom: 10px;

}
.list + .list{
    margin-left: 23px;
}

.btn_1 button {
    border: 1px solid rgb(112, 113, 115);
    background-color: rgb(173, 209, 54);
    border-radius: 18px;
    border: 0;
    outline: none;
    opacity: 0.812;
    width: 98px;
    height: 35px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.812);
    cursor: pointer;
}

.btn_1 button:hover{
    border: 1px solid rgb(173, 209, 54);
    background-color:rgba(255, 255, 255, 0.812);
    color:  rgb(173, 209, 54);
}

/*******************************************************************************/
.container_wrap{
    background-image:url("../img/bg-1.png")  ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 570px;
}
.bloc-1{
    padding: 170px 0;
}
.bloc-name{
    font-size: 49.2px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.bloc-name-2{
    font-size: 49.2px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}
.bloc-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.bloc-btn button{
    border-radius: 10px;
    background-color: rgb(153, 197, 10);
    width: 254px;
    height: 73px;
    font-size: 19px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    outline: none;
}

.bloc-btn button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(153, 197, 10);
    border: 1px solid rgb(153, 197, 10);
}
/*******************************************************************************/
.icon_presentation {
    width: 58px;
    height: 58px;
    margin: 100px auto 50px;
}

.icon_presentation img{
    width: 100%;
    height: 100%;
}

.name_presentation {
    font-size: 31px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.603;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 25px;


}
.text_presentation {
    font-size: 19px;
    color: rgba(81, 81, 81, 0.71);
    line-height: 1.2;
    text-align: center;
    margin-top: 50px;
    padding: 0 235px;
}



.container_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    max-width: 1020px;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}
ul>li{
    list-style: none;
    border-bottom: 1px solid rgb(95, 95, 95);
    color: rgb(101, 101, 101);
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
ul>li:hover{
    border-bottom: 1px solid #add136;
}
ul>li:nth-child(1)::before{
    content:"1";
}
ul>li:nth-child(2)::before{
    content:"2";
}
ul>li:nth-child(3)::before{
    content:"3";
}
ul>li:before{
    padding: 5px 15px;
    border-radius: 50%;
    margin-right: 20px;
    min-width: 30px;
    height: 30px;
    background-color:rgb(95, 95, 95);
    color: #fff;
}
ul>li:hover:before{
    background-color: #add136;
}
/*****************************container_section_2*********************************/
.browse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.browse_icon img{
    height: 102px;
    width: 113px;
}
.browse_text{
    width: 600px;
    margin-left: 100px;
}

.browse_name{
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    color: #add136;
    padding-bottom: 25px;
}
.browse_info{
    opacity: 0.67;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
/*****************************container_section_3*********************************/
.find{
    display: flex;
    align-items: center;
   max-width: 1200px;
    margin: 0 auto;
}

.properties{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 305px;
    background-color: #e2f8ff;
    padding: 40px 90px;
}
.icon_properties img {
    height: 112px;
    width: 133px;
    margin-right: 40px;
}

.name_properties , .name_buyers{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #515151;
    padding-bottom: 25px;
}
.info_properties, .info_buyers {
    font-size: 17.2px;
    line-height: 1.2;
    font-weight: 400;
    color: #515151;
    padding-bottom: 25px;
}
.btn_properties button{
    width: 187px;
    height: 51px;
    background-color: #26a6d1;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px;
}
.btn_properties button:hover{
    background-color: #fff;
    color: #26a6d1;
    border: 1px solid #26a6d1;
}
.buyers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 305px;
    background-color: #f5f9eb;
    padding: 40px 90px;
}
.icon_buyers img {
    height: 92px;
    width: 101px;
    margin-right: 40px;
}

.btn_buyers button{
    width: 187px;
    height: 51px;
    background-color: #add136;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px;
}

.btn_buyers button:hover{
    background-color: #fff;
    color:#add136;
    border: 1px solid #add136;
}
/*****************************container_section_4*********************************/
.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    max-width: 1020px;

}
.name_featured_1 {
    font-size: 29px;
    line-height: 1.2;
    font-weight: 600;
    color: #515151;
    padding-bottom: 20px;
}
.info_featured {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
    color: #8f8f8f;
    padding-right: 190px;
}
.btn_featured button{
    width: 181px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #515151;
    border-radius: 10px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #515151;
}

.btn_featured button:hover{
    opacity: 0.7;
}
/*****************************container_section_5*********************************/
.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px auto;
    max-width: 1020px;
}
.projects_1{
    width: 300px;
    border-radius: 10px;
    position: relative;
}
.icon_projects{
    background-image: url("../img/layers.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:74px 74px;


}
.gbp{
    width: 139px;
    height: 35px;
    background-color: #26a6d1;
    border-radius: 10px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 175px;
    right: 30px;

}
.gbp span{
    font-weight: 700;
}
.new_icon{
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
}


.info_projects {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,0.14);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.name_city {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 700;
    color: #484848;
    padding-bottom: 15px;
}
.text_city {
    font-size: 13.2px;
    line-height: 2;
    font-weight: 400;
    color: #484848;
    padding-bottom: 15px;
    padding-right: 15px;
}
.progress {

}
.funded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.percent , .days {
    font-size: 13.2px;
    line-height: 1.2;
    font-weight: 600;
    color: #8d8d8d;
}
.details{
    border-top: 1px solid rgba(0,0,0,0.14);
}
.details a{
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    font-family: OpenSans,sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #484848;
    padding: 15px 0;
}


.details i{
    transform: rotate(90deg);
    color: #add136;
    font-size: 30px;
    margin-top: -5px;
}

.w3-progress-container{
    width:100%;
    height:14px;
    position:relative;
    background-color:#f1f1f1;
}
.w3-progressbar{
    background-color:#add136;
    height:100%;
    position:absolute;
    line-height:inherit;
}
.w3-round-xlarge{
    border-radius:14px!important;
}
